/*James Dressel and James Robertson*/

input
{
	font-family:"Trebuchet MS";
	font-size:100%;
}

.username
{
	font-family:"Trebuchet MS";
	font-size:80%;
	position: fixed; 
	top: 5px;
	right: 10px;
}

button
{
	font-family:"Trebuchet MS";
	text-align: center;
	font-size:100%;
	padding-top: 6px; 
	padding-bottom: 6px;
	padding-right: 10px;
	padding-left: 10px;
	border: solid 1px #999999;
	color:white;
	cursor: pointer;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#999999), to(#787878));
}

button.login
{
	font-family:"Trebuchet MS";
	text-align: center;
	font-size:80%;
	padding-top: 4px; 
	padding-bottom: 4px;
	padding-right: 10px;
	padding-left: 10px;
	border: solid 1px #999999;
	color:white;
	cursor: pointer;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#999999), to(#787878));
	position: fixed; 
	top: 37px;
	right: 16px;
}

.red 
{ 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FF0000), to(#600000)); 
	border: solid 1px #600000; 
	color:white;
	cursor: pointer;
}
.yellow 
{ 
	border: solid 1px #FF6600;	
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFF00), to(#FF6600));
	color:white;
	cursor: pointer;
}
.green 
{ 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#00FF33 ), to(#009933)); 
	border: solid 1px #009933;  
	color:white;
	cursor: pointer;
}

textarea
{
	font-family:"Trebuchet MS";
	font-size:100%;
	width: 100%; 
	margin: 0; 
	padding:0; 
}

textarea:focus
{
	border: 3px solid green;
}
	
body
{	
	font-family:"Trebuchet MS";
	background-color:#d0e4fe;
}

h1
{	
	font-family:"Trebuchet MS";
	text-align:center;
}

h2
{	
	font-family:"Trebuchet MS";
	text-align:center;
}

p.center
{
	text-align:center;
}

.normal 
{
	text-align:center;
	font-family:"Trebuchet MS";
	font-size:150%;
}

#error
{
	text-align:center;
	font-family:"Trebuchet MS";
	color:red;
	font-size:100%;
}

table.center 
{
	margin-left:auto;
	margin-right:auto;
	width:100%;
}

.mega 
{
	margin-left:auto;
	margin-right:auto;
	width:14%;
	border:solid 3px #85b9fc;
	border-collapse:collapse;
}