/*James Dressel and James Robertson*/

input
{
	font-family:"Trebuchet MS";
	font-size:100%;
}

.username
{
	font-family:"Trebuchet MS";
	font-size:80%;
	position: fixed; 
	top: 5px;
	right: 10px;
}

button, submit, input.regular, a.regular
{
	font-family:"Trebuchet MS";
	text-align: center;
	font-size:80%;
	padding-top: 6px; 
	padding-bottom: 6px;
	padding-right: 10px;
	padding-left: 10px;
	border: solid 1px #999999;
	color:white;
	cursor: pointer;
	background: #787878;
}

a.button
{
	font-family:"Trebuchet MS";
	text-align: center;
	font-size:80%;
	padding-top: 4px; 
	padding-bottom: 4px;
	padding-right: 10px;
	padding-left: 10px;
	border: solid 1px #999999;
	color:white;
	cursor: pointer;
	background: #787878;

}

.red 
{ 
	background: #FF0000; 
	border: solid 1px #600000; 
	color:white;
	cursor: pointer;
}

.yellow 
{ 
	border: solid 1px #FF6600;	
	background: #FF6600;
	color:white;
	cursor: pointer;
}

.green 
{ 
	background: #00FF33; 
	border: solid 1px #009933;  
	color:white;
	cursor: pointer;
}

td.red 
{ 
	background: #FF0000; 
	color:white;
}
td.yellow 
{ 
	background: #FF6600;
	color:white;
}

td.green 
{ 
	background: #009933;   
	color:white;
}

textarea
{
	font-family:"Trebuchet MS";
	font-size:100%;
	width: 100%; 
	margin: 0; 
	padding:0; 
}

textarea:focus
{
	border: 3px solid green;
}
	
body
{	
	font-family:"Trebuchet MS";
	background-color:#d0e4fe;
}

h1
{	
	font-family:"Trebuchet MS";
	text-align:center;
}

h2
{	
	font-family:"Trebuchet MS";
	text-align:center;
}

p.center
{
	text-align:center;
}

.normal 
{
	text-align:center;
	font-family:"Trebuchet MS";
	font-size:150%;
}

#error
{
	text-align:center;
	font-family:"Trebuchet MS";
	color:red;
	font-size:100%;
}

table.center 
{
	margin-left:auto;
	margin-right:auto;
	width:100%;
}

.mega 
{
	margin-left:auto;
	margin-right:auto;
	width:60%;
	border:solid 3px #85b9fc;
	border-collapse:collapse;
}